<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Annex</title>
</head>
<body>
<h1>ANNEX</h1>
<h3>Welcome to Annex! A language learning website.</h3>
<br>
<p>Pick a language you'd like to practice.</p>
<ul>
    <li><a href="{% url 'dashboard' %}">Spanish</a></li>
    <li><a href="{% url 'error_language' %}">French</a></li>
    <li><a href="{% url 'error_language' %}">German</a></li>
    <li><a href="{% url 'error_language' %}">Russian</a></li>
    <li><a href="{% url 'error_language' %}">Mandarin</a></li>
</ul>
</body>
</html>