<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz 1</title>
</head>
<body>
<h1>Quiz 1</h1>
<p>This quiz is based off Lesson 1.</p>
<br>
<form id="quiz-form">
    <fieldset>
        <legend>1. What do Spanish people mainly eat in Valencia?</legend>
        <label><input type="radio" name="question1" value="A"> Sangria</label>
        <label><input type="radio" name="question1" value="B"> Paella</label>
        <label><input type="radio" name="question1" value="C"> Burgers</label>
    </fieldset>
    <br>
    <fieldset>
        <legend>2. What ingredients are very important in Mexico?</legend>
        <label><input type="radio" name="question1" value="A"> Corn and Chillies</label>
        <label><input type="radio" name="question1" value="B"> Tacos</label>
        <label><input type="radio" name="question1" value="C"> Meat and Avocado</label>
    </fieldset>
    <br>
    <fieldset>
        <legend>3. What are the 3 main cultures in the Caribbean?</legend>
        <label><input type="radio" name="question1" value="A"> Korean, Chinese and Japanese</label>
        <label><input type="radio" name="question1" value="B"> American, Italian and German</label>
        <label><input type="radio" name="question1" value="C"> Spanish, Indigenous and African</label>
    </fieldset>
    <button type="submit">Submit</button>
</form>
</body>
</html>